[Desktop Entry]
Type=Application
Name=TobasGCS
Icon=/opt/ros/jazzy/share/tobas_gcs/resources/icon.png
Exec=/usr/bin/tobas_gcs
Terminal=false
StartupNotify=true
