[Desktop Entry]
Type=Application
Name=TobasURDFBuilder
Icon=/opt/ros/jazzy/share/tobas_urdf_builder/resources/icon.png
Exec=/usr/bin/tobas_urdf_builder
Terminal=false
StartupNotify=true

# TODO: Show this once UADF is supported.
Hidden=true
