[Desktop Entry]
Type=Application
Name=TobasInstall
Icon=/usr/share/icons/tobas/install.png

# Without pkexec
# Exec=/usr/bin/tobas_install_prereqs
# Terminal=true

# With pkexec
# The pkexec process resets environment variables and loses X server access information, so it cannot start gnome-terminal directly.
# Therefore Terminal is set to false, and the process explicitly restores the environment variables and starts the terminal.
Exec=pkexec /usr/bin/tobas_install_prereqs_gnome
Terminal=false
