<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find tobas_description)/urdf/components/common.xacro"/>

  <xacro:macro name="mt3508_580kv" params="parent index *origin">

    <xacro:property name="radius" value="0.021"/>
    <xacro:property name="height" value="0.024"/>
    <xacro:property name="mass" value="0.086"/>

    <xacro:property name="link_name" value="motor_${index}"/>
    <xacro:property name="joint_name" value="${link_name}_joint"/>

    <joint name="${joint_name}" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${link_name}"/>
    </joint>

    <link name="${link_name}">
      <visual>
        <geometry>
          <mesh filename="package://tobas_description/meshes/common/motor/mt3508_580kv.stl" scale="1 1 1"/>
        </geometry>
        <xacro:insert_block name="orange"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${height/2}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${height}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 ${height/2}" rpy="0 0 0"/>
        <xacro:cylinder_inertia radius="${radius}" length="${height}" mass="${mass}"/>
      </inertial>
    </link>

  </xacro:macro>

</robot>
