<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="base_lipo" params="link_name parent x y z mass *origin *material">
    <joint name="${link_name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${link_name}"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${link_name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${x} ${y} ${z}"/>
        </geometry>
        <xacro:insert_block name="material"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${x} ${y} ${z}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <xacro:box_inertia x="${x}" y="${y}" z="${z}" mass="${mass}"/>
      </inertial>
    </link>
  </xacro:macro>

</robot>
