<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find tobas_description)/urdf/components/battery/base.xacro"/>

  <xacro:macro name="hrb_6s_5000mah_50c" params="link_name parent *origin">
    <xacro:base_lipo link_name="${link_name}" parent="${parent}" x="0.155" y="0.048" z="0.048" mass="0.725">
      <xacro:insert_block name="origin"/>
      <xacro:insert_block name="yellow"/>
    </xacro:base_lipo>
  </xacro:macro>

</robot>
