Source: ros-jazzy-tobas-image-processing
Section: misc
Priority: optional
Maintainer: "Masayoshi Dohi" <m.dohi@tobas.jp>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ffmpeg-encoder-decoder, ros-jazzy-ffmpeg-image-transport-msgs, ros-jazzy-sensor-msgs, ros-jazzy-tobas-camera-msgs, ros-jazzy-tobas-camera-ros-interface, ros-jazzy-tobas-ic-drivers, ros-jazzy-tobas-msgs-adapter, ros-jazzy-tobas-node, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/tobas_image_processing/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-tobas-image-processing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ffmpeg-encoder-decoder, ros-jazzy-ffmpeg-image-transport-msgs, ros-jazzy-sensor-msgs, ros-jazzy-tobas-camera-msgs, ros-jazzy-tobas-camera-ros-interface, ros-jazzy-tobas-ic-drivers, ros-jazzy-tobas-msgs-adapter, ros-jazzy-tobas-node, ros-jazzy-ros-workspace
Description: ROS 2 nodes for video capture, image compression, decompression, conversion, and display.
