Source: ros-jazzy-tobas-rc-teleop
Section: misc
Priority: optional
Maintainer: "Masayoshi Dohi" <m.dohi@tobas.jp>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-magic-enum, ros-jazzy-tobas-command-msgs-adapter, ros-jazzy-tobas-msgs-adapter, ros-jazzy-tobas-node, ros-jazzy-tobas-path-tools, ros-jazzy-tobas-ros2-tools, ros-jazzy-tobas-trajectory-generation, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/tobas_rc_teleop/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-tobas-rc-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-magic-enum, ros-jazzy-tobas-command-msgs-adapter, ros-jazzy-tobas-msgs-adapter, ros-jazzy-tobas-node, ros-jazzy-tobas-path-tools, ros-jazzy-tobas-ros2-tools, ros-jazzy-tobas-trajectory-generation, ros-jazzy-ros-workspace
Description: RC-input teleoperation controllers that generate flight commands for multiple control modes.
