Source: ros-jazzy-tobas-rviz-wrapper
Section: misc
Priority: optional
Maintainer: "Masayoshi Dohi" <m.dohi@tobas.jp>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-rviz-common, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/tobas_rviz_wrapper/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-tobas-rviz-wrapper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-rviz-common, ros-jazzy-ros-workspace
Description: Reusable Qt wrapper for embedding and configuring RViz in Tobas applications.
