[Unit]
Description=Tobas Interface Process
After=network.target
PartOf=tobas_real.target

[Service]
Type=simple
EnvironmentFile=/etc/tobas/common.env
EnvironmentFile=/etc/tobas/config/project.env
Environment="ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET"
Environment="CYCLONEDDS_URI=/etc/tobas/config/cyclonedds.xml"
# Wait until the NIC used for inter-network communication has an IP address.
ExecStartPre=/usr/lib/systemd/systemd-networkd-wait-online --interface=${TOBAS_NIC}:routable --ipv4 --timeout=0
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && source /opt/tobas/local_setup.bash && source /etc/tobas/colcon_ws/install/local_setup.bash && ros2 launch ${TOBAS_CONFIG_PKG} real_interface.launch.py'
Restart=no
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10
CPUAffinity=0

[Install]
WantedBy=multi-user.target
