<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="dummy_inertial">
    <!-- A very light point mass -->
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="dummy_inertial_link" params="name">
    <link name="${name}">
      <!-- Set dummy inetial param for avoiding gazebo error. -->
      <xacro:dummy_inertial/>
    </link>
  </xacro:macro>

</robot>
